
.container-fluid:nth-of-type(2) {
    margin-top: 0px;
}

h1 {
	margin: 20px 0px 15px 0px;
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em; 
}
h4 {
	margin: 0px 0px 20px 0px; 
	line-height: 1em;
}

#questionCarousel{margin-top: 20px; border-radius: 8px; background-color: #FFF;}

/*
.TextHolder{margin-left: auto; margin-right: auto; width: 80%; min-height: 200px;}
*/

/************************************    ATO's  modal styling   ***************************************/
.TextHolder{margin-left: auto; margin-right: auto; width: 80%; min-height: 200px;overflow: auto;
  border-radius: 8px;
  padding: 20px;
  height: auto;
  box-shadow: 1px 2px 10px #888888; 
  background-color: #fff;
  margin-top:20px;
}
.LeftContent .TextHolder{
  all: initial;
  * {
    all: unset;
  }
}
.modal-dialog{width: 90%;}
.modal-body img {width: 100%;}
/*****************************************************************************************************/

.SourceImg{margin-left: auto; margin-right: auto; max-height: 500px;}  

.SourceWrapper{max-height: 500px;}

.embed-responsive{max-height: 500px;} /* Virker ikke */



.resultTable  .TextHolder{min-height: 0px; width: 100%;}

.indent{margin-left: 10px}

.PointFeedback{margin-top: 10px;}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.DivRow{
	margin-bottom: 10px; 
	padding: 10px 10px 0px 10px;
	border: 1px solid #C0C0C0;
	cursor: pointer;
}

.DivRow_overlay{
	display: absolute;
	z-index: 10;
	cursor: pointer;
}

.QuestionTask{
	color: #000;
}

/* e7e6e2 */
.btn-default{
	background-color: #e7e6e2;
	border: 1px solid #e7e6e2;
	color: #000;
}

.RightContent .btn-default:hover, .RightContent .btn-default:active, .RightContent .btn-default.active:focus, .RightContent .btn-default.focus:active {
	background-color: #e7e6e2;
    border: 1px solid #e7e6e2;
    color: #000;
    cursor: auto;
}



.btn{
	margin-bottom: 10px;
	margin-right: 10px;
}


/*
.btn-primary{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btn-primary:hover{
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}
*/
.btn-primary{
	background-color: #717272;
	border: 1px solid #717272;
	color: #FFF;
}
.btn-primary:hover{
	background-color: #515252;
	border: 1px solid #515252;
	color: #FFF;
}


.checkAnswer {
	background-color: #0dcea0;
	color: #FFF;
	border-style: none;
}
.checkAnswer:hover{
	background-color: #2deec0;
	color: #FFF;
	border-style: none;
}

/*
.CorrectAnswer{
	background-color: #0dcea0;
	border: 1px solid #0dcea0;
	color: #FFF;
}
.CorrectAnswer:hover{
	background-color: #2deec0;
	border: 1px solid #2deec0;
	color: #FFF;
}
*/

.WrongAnswer{
	background-color: #ed3e3a;
	border: 1px solid #ed3e3a;
	color: #FFF;
}
.WrongAnswer:hover{
	background-color: #ff5e5a;
	border: 1px solid #ff5e5a;
	color: #FFF;
}

/*
.StudentCorrect{ 
	background-color: #00cb60;
	border: 1px solid #00cb60;
	color: #FFF;
}
.StudentCorrect:hover{

}
*/

.StudentWrong{
	background-color: #717272;
	border: 1px solid #717272;
	color: #FFF;
}
.StudentWrong:hover{
	background-color: #515252;
	border: 1px solid #515252;
	color: #FFF;
}


.checkAllAnswers{
	background-color: #05a0a8;
    border-color: #05a0a8;
    color: #fff;
}
.checkAllAnswers:hover{
	background-color: #047176;
    border-color: #047176;
    color: #fff;
}

.btnPressed{
    background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btnPressed:hover {
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.RightContent{
	/*float: right; 
	width: 80%; */
	/*margin-top: 10px;*/
	padding-left: 10px;
}
.RightContent .btn {
	cursor: auto;
}

.LeftContent{
	/*float: left; 
	width: 20%;*/
	/*cursor: pointer;*/
	/*margin-right: 10px;*/

	/*padding-right: 10px;*/
}


.Clear{clear: both;}

.Source{/*border: 1px solid #C0C0C0;*/}

/*
.col-md-8{margin-left: 10px; width: 65.5%;}
.col-sm-12{width: 100%; margin-top: 10px; margin-right: 0px;}
*/

.BtnContainer{
	padding-top: 10px; 
	clear: both;
}

.SourcePage{/*border: 1px solid #C0C0C0;*/ /*padding: 10px 10px 0px 10px;*/ display: none;}

.PagerClass{display: inline-block;}
#PagerContainer{display: inline-block;}
#PagerContainer ul {padding: 0px;}
#PagerContainer ul li {display: inline;}

.dshow{display: block}

/*e7e6e2*/

.btn-success {
    background-color: #0dcea0;
    border-color: #0dcea0;
    color: #fff;
}

.btn-danger {
    background-color: #0dcea0;
    border-color: #0dcea0;
    color: #fff;
}
/*
.col-sm-12 .btn{
	margin-top: 10px;
	margin-bottom: 0px;
}
*/
.ColorClass_0{
	background-color: #dcbdc8;
    border-color: #dcbdc8;
}

.ColorClass_1{
	background-color: #f9d703;
    border-color: #f9d703;
}

.ColorClass_2{
	background-color: #dfd2a6;
    border-color: #dfd2a6;
}

.ColorClass_3{
	background-color: #db9741;
    border-color: #db9741;
}

.ColorClass_4{
	background-color: #03727e;
    border-color: #03727e;
}

.ColorClass_5{
	background-color: #756e29;
    border-color: #756e29;
}

.ColorClass_6{
	background-color: #8158b7;
    border-color: #8158b7;
}


/* ATOs stylig på 1 errorbar */

.ProcessBar{
	background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    position: absolute;
    width: 100%;
}

/*
.ProcessBar{
	background-color: rgba(255, 255, 255, 0.8);
}
*/
.ProcessBarGauge_correct{
	background-color: rgba(42, 187, 42, 0.7); /*#2abb2a;*/
	text-align: right;
}
.ProcessBarGauge_wrong{
	background-color: rgba(237, 62, 58, 0.7); /*#ed3e3a;*/
	text-align: right;
}



/*****************************
		DIV TABLE STYLE 
*****************************/

.DivColumn{
	display: inline-block;
	width: 19%;
}

.tth{
	display: inline-block;	/* TEST */ 
	width: 19%; 			/* TEST */
	/*border: 1px solid #C0C0C0;*/
}

.ttd{
	display: inline-block; 	/* TEST */
	width: 19%; 			/* TEST */
	text-align: center;
	border: 1px solid #C0C0C0;
}


/*************************************************
	992 px er samme breaking point som col-sm-12
**************************************************/
@media (max-width: 992px) {
	.RightContent{
		margin-top: 10px;
		padding-left: 0px;
	}
}


/*****************************
		TABLE STYLE 
*****************************/

table.resultTable {
	width: 100%;
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	/*box-shadow: 10px 10px 5px #888888;*/
}
table.resultTable th {
	width: 19%;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}
table.resultTable td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	text-align: center;
}