
.container-fluid:nth-of-type(2) {
    margin-top: 0px;
}

h1 {
    margin: 20px 0px 15px 0px;
    line-height: 1em;
}
h2 {
    margin: 30px 0px 20px 0px; 
    line-height: 1em; 
}
h4 {
    margin: 0px 0px 20px 0px; 
    line-height: 1em;
}

#questionCarousel{margin-top: 20px; border-radius: 8px; background-color: #FFF;}


.kilde_henvisning h6 {
	margin: 0px;
}

.SourceHeading{
    margin-top: 20px;
}


.TextHolder{
    min-height: 150px;
    background-color: #FFF;
    padding: 20px;
}

.LeftContent .TextHolder{
	max-width: 350px;
}

/************************************    ATO's  modal styling   ***************************************/
/*.TextHolder{margin-left: auto; margin-right: auto; width: 80%; min-height: 200px;overflow: auto;
  border-radius: 8px;
  padding: 20px;
  height: auto;
  box-shadow: 1px 2px 10px #888888; 
  background-color: #fff;
  margin-top:20px;
}
.LeftContent .TextHolder{
  all: initial;
  * {
    all: unset;
  }
}
.modal-dialog{width: 90%;}
.modal-body img {width: 100%;}*/
/*****************************************************************************************************/

.LeftContent .SourceImg{
	/*max-height: 230px;*/
	width: 350px;
}  

.SourceImg{max-height: 390px;} 

/*.SourceVid{max-height: 390px;}*/ /* DETTE FUNGERE IKKE */



.SourceWrapper{max-height: 500px;}

.LeftContent .SourceWrapper{
	max-height: 500px;
	/*max-width: 330px;*/
	min-height: 230px;
}

.embed-responsive{max-height: 500px;} /* Virker ikke */



/*.resultTable  .TextHolder{min-height: 0px; width: 100%;}*/

.indent{margin-left: 10px}

.PointFeedback{margin-top: 10px;}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


.DivRow{
    margin-bottom: 10px; 
    /*padding: 10px 10px 0px 10px;*/
    /*border: 1px solid #C0C0C0;*/
    /*cursor: pointer;*/
}


.QuestionTask{
    color: #000;
}


.btn-default{  /* MARKOUT */
    background-color: #e7e6e2;
    border: 1px solid #e7e6e2;
    color: #000;
}

.btn{
    margin-bottom: 10px;
    margin-right: 10px;
}

.label-default{
    background-color: #e7e6e2;
    border: 1px solid #e7e6e2;
    color: #000;
}

.MiddleContent .label, .RightContent .label{
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 100%;
    font-weight: inherit;
}

.dotted{
    border-width:1px;
    border-color: #717272;
    border-style:dotted; 
    background-color: #FFF;
}

.NonCommon{
    background-color: #717272;
    border: 1px solid #717272;
    color: #fff;
}


.InnerScoreContainer{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    /*position: absolute;
    bottom: 10px;*/
}

.InnerScoreContainer h5 {
    margin: 0px 5px 0px 0px;
    display: inline-block;
}

.BlackFont{
    color: #000;
    font-weight: 600;
}


hr {
    border-top: 1px solid #000;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*
.btn-primary{
    background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btn-primary:hover{
    background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}
*/

#PagerContainer .btn-primary{   /* MARKOUT */
    background-color: #717272;
    border: 1px solid #717272;
    color: #FFF;
}
#PagerContainer .btn-primary:hover{   /* MARKOUT */
    background-color: #515252;
    border: 1px solid #515252;
    color: #FFF;
}

.ReturnToSource{
	background-color: #05a0a8;
    border-color: #05a0a8;
    color: #fff; 
    margin-top: 20px;
    margin-bottom: 0px;
}

.ReturnToSource:hover{
	background-color: #047176;;
    border-color: #047176;;
    color: #fff; 
    margin-top: 20px;
    margin-bottom: 0px;
}


.checkAnswer {
    background-color: #0dcea0;
    color: #FFF;
    border-style: none;
}
.checkAnswer:hover{
    background-color: #2deec0;
    color: #FFF;
    border-style: none;
}

/*
.CorrectAnswer{
    background-color: #0dcea0;
    border: 1px solid #0dcea0;
    color: #FFF;
}
.CorrectAnswer:hover{
    background-color: #2deec0;
    border: 1px solid #2deec0;
    color: #FFF;
}
*/

.WrongAnswer{
    background-color: #ed3e3a;
    border: 1px solid #ed3e3a;
    color: #FFF;
}
.WrongAnswer:hover{
    background-color: #ff5e5a;
    border: 1px solid #ff5e5a;
    color: #FFF;
}

/*
.StudentCorrect{ 
    background-color: #00cb60;
    border: 1px solid #00cb60;
    color: #FFF;
}
.StudentCorrect:hover{

}
*/

.StudentWrong{
    background-color: #717272;
    border: 1px solid #717272;
    color: #FFF;
}
.StudentWrong:hover{
    background-color: #515252;
    border: 1px solid #515252;
    color: #FFF;
}


.checkAllAnswers{  /* MARKOUT */
    /*background-color: #05a0a8;
    border-color: #05a0a8;
    color: #fff;*/
}
.checkAllAnswers:hover{   /* MARKOUT */
    /*background-color: #047176;
    border-color: #047176;
    color: #fff;*/
}

.RightContent{ 
    /*border: 1px solid #C0C0C0;*/
    margin-right: 0%;
}

.MiddleContent{
    /*border: 1px solid #C0C0C0;*/
    padding-left: 12px;
}

.LeftContent{
    /*float: left; 
    width: 20%;*/
    /*cursor: pointer;*/
    /*margin-right: 10px;*/
    /*padding-right: 10px;*/
    margin-top: 10px;
}

.InnerContainer{
    min-height: 230px;
    /*border: 1px solid #C0C0C0;*/
    background-color: #FFF;
    padding: 20px 20px 20px 20px;
    margin: 10px 20px 0px 0px;
    border-radius: 4px;
}

.MiddleContent .InnerContainer{
    /* margin: 0px 15px 0px 30px; */
}

.RightContent .InnerContainer{
    /* margin: 0px 20px 0px 15px; */
    margin-left: 10px;
}

.ThemeHeader{
    margin-top: 0px;
    color: #000;
    font-weight: 600;
}

#PagerHeading{
	margin-right: 10px;
}


.Clear{clear: both;}

.Source{margin-top: 10px;}

/*
.col-md-8{margin-left: 10px; width: 65.5%;}
.col-sm-12{width: 100%; margin-top: 10px; margin-right: 0px;}
*/

.BtnContainer{
    padding-top: 10px; 
    clear: both;
}

.SourcePage{
    display: none;
}

.PagerClass{display: inline-block; margin-bottom: 0px;}
#PagerContainer{display: inline-block;}
#PagerContainer ul {padding: 0px;}
#PagerContainer ul li {display: inline;}


.dshow{display: block}

/*e7e6e2*/

.btn-success {
    background-color: #0dcea0;
    border-color: #0dcea0;
    color: #fff;
}

.btn-danger {
    background-color: #0dcea0;
    border-color: #0dcea0;
    color: #fff;
}
/*
.col-sm-12 .btn{
    margin-top: 10px;
    margin-bottom: 0px;
}
*/

.ColorClass{
	cursor: auto;
}

.ColorClass_0, .ColorClass_0:hover{
    background-color: #f9f206;
    border-color: #f9f206;
}

.ColorClass_1, .ColorClass_1:hover{
    background-color: #e56ec9;
    border-color: #e56ec9;
}

.ColorClass_2, .ColorClass_2:hover{
    background-color: #73f9a9;
    border-color: #73f9a9;
}

.ColorClass_3, .ColorClass_3:hover{
    background-color: #e5c180;
    border-color: #e5c180;
}

.ColorClass_4, .ColorClass_4:hover{
    background-color: #9090d1;
    border-color: #9090d1;
}

.ColorClass_5, .ColorClass_5:hover{
    background-color: #e26060;
    border-color: #e26060;
}

.ColorClass_6, .ColorClass_6:hover{
    background-color: #64e2dc;
    border-color: #64e2dc;
}

.ColorClass_7, .ColorClass_7:hover{
    background-color: #ffff99;
    border-color: #ffff99;
}

.ColorClass_8, .ColorClass_8:hover{
    background-color: #f2b9e1;
    border-color: #f2b9e1;
}

.ColorClass_9, .ColorClass_9:hover{
    background-color: #b5f8d5;
    border-color: #b5f8d5;
}

.ColorClass_10, .ColorClass_10:hover{
    background-color: #f7e5cc;
    border-color: #f7e5cc;
}


.btnPressed{
    background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btnPressed:hover {
    background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}


/* ATOs stylig på 1 errorbar */

.ProcessBar{
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    position: absolute;
    width: 100%;
}

/*
.ProcessBar{
    background-color: rgba(255, 255, 255, 0.8);
}
*/
.ProcessBarGauge_correct{
    background-color: rgba(42, 187, 42, 0.7); /*#2abb2a;*/
    text-align: right;
}
.ProcessBarGauge_wrong{
    background-color: rgba(237, 62, 58, 0.7); /*#ed3e3a;*/
    text-align: right;
}



/*****************************
        DIV TABLE STYLE 
*****************************/

.DivColumn{
    display: inline-block;
    width: 19%;
}

.tth{
    display: inline-block;  /* TEST */ 
    width: 19%;             /* TEST */
    /*border: 1px solid #C0C0C0;*/
}

.ttd{
    display: inline-block;  /* TEST */
    width: 19%;             /* TEST */
    text-align: center;
    border: 1px solid #C0C0C0;
}


/*************************************************
    992 px er samme breaking point som col-sm-12
**************************************************/
@media (max-width: 992px) {
    .MiddleContent{
        /* margin-top: 10px; */
        padding-left: 0px;

    }
}
